@{
    ViewBag.Title = "About ";
}
<h2>@ViewBag.Title author</h2>

<h3>Hello</h3>
<h4>My name is Mariusz Karwowski</h4>
<p>
    and this is page about me. I've been playing football for 15 years. I'm big fan of Eintracht Frankfurt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eros leo, pellentesque commodo consectetur eget, laoreet in velit. Morbi vestibulum ipsum consectetur dapibus tristique. Suspendisse eget est vulputate erat tempor porttitor sit amet eu neque. Proin nec volutpat ipsum, vitae placerat elit. Morbi sodales metus magna, eget convallis ante lobortis sed. Pellentesque tempor maximus mi, sit amet pharetra leo varius.
</p>

<p>@Html.ActionLink("Go back", "Index", "Home")</p>

