@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FOOTBALL</h1>
    <p class="lead">"Talent without working hard is nothing." - Cristiano Ronaldo</p>
    
</div>

<div>
    <div class="bg-info">
        <p>
            Football is a team sport played with a spherical ball between two teams of 11 players. It is played by approximately 250 million players in over 200 countries and dependencies, making it the world's most popular sport. The game is played on a rectangular field called a pitch with a goal at each end. The object of the game is to score more goals than the opposition by moving the ball beyond the goal line into the opposing goal, usually within a time frame of 90 or more minutes
        </p>
        <p><a href="https://en.wikipedia.org/wiki/Association_football" class="btn btn-primary btn-lg">Learn more (wiki) &raquo;</a></p>
    </div>

    <div class="middle-div">
        <p><b>Best football team: EINTRACHT FRANKFURT!</b></p>
        <img width="250px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Eintracht_Frankfurt_Logo.svg/360px-Eintracht_Frankfurt_Logo.svg.png" />
        <p>
            @Html.ActionLink("About author and the biggest fan of Eintracht Frankfurt", "About", "Home")
        </p>
    </div>
    @{Html.RenderAction("_RandomFootballer", "Home");}
</div>